body {
    width: 100%;
    margin: auto;
    align-items: center;
}

textarea {
    background-color: #00428D;
    color: #fff;
    display: block;
    height: 370px;
    width: 100%;
    margin: auto;
    top: 0;
    font-size: 2rem;

}


.keyboard {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 5px 0;
    background: #004134;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    user-select: none;
    transition: bottom 0.4s;
    text-align: center;
}


.keys {
    height: 95%;
    width: 95%;
    margin: auto;
}

.key {
    display: inline-flex;
    position: relative;
    height: 45px;
    width: 5%;
    margin: 3px;
    border-radius: 5px;
    border: none;
    background: rgba(255, 255, 255, 0.4);
    color: #fff;
    font-size: 1.1rem;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    cursor: pointer;
}

.darkerColorKey {
    background-color:#004168;
}

.backspace {
    width: 12.5%;
}


.tab {
    width: 7%;
}

.slash {
    width: 7%;
}

.capslock, .enter {
    width: 11.5%;
}

.shift {
    width: 14.3%;
}

.ctrl {
    width: 11%;
}

.space {
    width: 42.5%;
}
 .alt {
     width: 6%;
 }

 .keyPress {
     background-color: rgb(35, 235, 35);
     animation: radial-pulse 1s infinite;
     border: rgb(8, 40, 224) 2px solid;
 }

 @keyframes radial-pulse {   0% {
        box-shadow: 0 0 20px  rgb(35, 235, 35);
      }
     
    40% {
        box-shadow: 0 0 0 40px rgba(100, 245, 4, 0);
      }
    }

 
 .keyBacklight {
     border: 3px solid rgb(35, 235, 35);
 }